.vscode
/data/
/.idea/
*.iml
/gh-md-toc
personal-build-and-develop.*

/plugins/

/utilities/*
!/utilities/README
!/utilities/mcaws_pull_utilities.sh

/datapacks/*
!/datapacks/README


*.bck.*

*swp
*.tar.bz2
*.tar

