services:
  mc:
    image: itzg/minecraft-server
    user: "1000"
    environment:
      VERSION: 1.21.10
      EULA: "true"
      MOTD: |
        Rivalez Minecraft, es un servidor familiar de Minecraft.
        Si has sido invitado por favor, disfruta tu estancia y diviértete!
      TYPE: "PAPER"
      MEMORY: 6G
      PLUGINS: |
        /data/plugins-jars/Geyser-Spigot.jar
        /data/plugins-jars/floodgate-spigot.jar
      SERVER_NAME: "Rivalez"
      GAMEMODE: "survival"
      DIFFICULTY: "hard"
      ALLOW_CHEATS: "false"
      MAX_PLAYERS: 15
      ONLINE_MODE: "true"
      PLAYER_IDLE_TIMEOUT: 30
      OPS: |
        .SOSkr
      WORLD: /worlds
      ENFORCE_SECURE_PROFILE: "false"
      # FORCE_WORLD_COPY: "TRUE"
    ports:
      - "25565:25565"
      - "19132:19132/udp"
    volumes:
      - data:/data
      - /home/minecraft/javaworld:/worlds:ro,z
      - /home/minecraft/plugins/jars:/data/plugins-jars
      - /home/minecraft/plugins/configs:/data/plugins
    stdin_open: true
    tty: true
    restart: unless-stopped

  backups:
    image: itzg/mc-backup
    user: "1000"
    depends_on:
      mc:
        condition: service_healthy
    environment:
      BACKUP_INTERVAL: "24h"
      RCON_HOST: mc
      INITIAL_DELAY: 0
      TZ: "America/Bogota"
      PRUNE_BACKUPS_DAYS: "7"
      LINK_LATEST: "true"
      PRE_BACKUP_SCRIPT: |
        rcon-cli say [BACKUP] Iniciando respaldo del mundo...
      POST_BACKUP_SCRIPT: |
        if [ "$1" -eq 0 ]; then
          rcon-cli say "[BACKUP] Respaldo completado exitosamente."
        else
          rcon-cli say "[BACKUP] Respaldo falló."
        fi
    volumes:
      - data:/data:ro
      - mc-backups:/backups
volumes:
  data: {}
  mc-backups: {}
