services:
  mc:
    image: itzg/minecraft-server:java25
    tty: true
    stdin_open: true
    environment:
      EULA: "TRUE"
      TYPE: FTBA
      FTB_MODPACK_ID: "130"
      FTB_MODPACK_VERSION_ID: "100171"
      MEMORY: "4G"
    ports:
      - "25565:25565"
    volumes:
      - data:/data
volumes:
  data: