mkdocs-material == 9.7.0
mkdocs-autorefs == 1.4.3
mkdocstrings[python] == 1.0.0
mkdocs-literate-nav == 0.6.2
mdx-gh-links == 0.4
# need to pin for auto reload to work
# see https://github.com/mkdocs/mkdocs/issues/4032
click==8.2.1
mkdocs-click == 0.9.0
mkdocs-static-i18n == 1.3.0