mkdocs == 1.5.2
mkdocs-material-extensions == 1.1.1
mkdocs-material == 9.2.7
mkdocs-autorefs == 0.5.0
mkdocstrings == 0.22.0
mkdocs-literate-nav == 0.6.0
mdx-gh-links == 0.3.1
mkdocs-click == 0.8.0
mkdocs-static-i18n == 1.0.2