name: Issues notify

on:
  issues:
    types:
      - opened
      - labeled
      - unlabeled
      - closed

jobs:
  notify:
    uses: itzg/github-workflows/.github/workflows/issues-notify-discord.yml@main
    secrets:
      discordWebhook: "${{secrets.DISCORD_ISSUES_WEBHOOK}}"
